<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="WSGI_HANDLER" value="run.app"/>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\task_tracker"/>
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\task_tracker\wfastcgi.log"/>
    <add key="WSGI_CHDIR" value="C:\inetpub\wwwroot\task_tracker"/>
  </appSettings>

  <system.webServer>
    <handlers>
      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\inetpub\wwwroot\task_tracker\venv\Scripts\python.exe|C:\inetpub\wwwroot\task_tracker\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>

</configuration>